body {
  color: #fff;
  background: #001821;
  line-height: 1.42;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0;
}

.main-page-wrapper{
  
  background: url(./images/back-top.jfif) center top no-repeat, url(./images/back-bot.jfif) center bottom 165px no-repeat;
}

*{
  box-sizing: border-box;
}

ul{
  padding: 0;
  margin:0;

}

ul li{
  list-style: none;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: normal;
}

.container{
  margin: 0 auto;
  width: 1140px;
}

.topic{
  width: 520px;
  margin-bottom: 244px;
}

a{
  color: inherit;
}

.header{
  height: 80px;
  position: relative;
  margin-bottom: 107px;
}

.header .logo{
  display: block;
  position: absolute;
  top: 21px;
  left: 0px;
}

.header .menu{
  position: absolute;
  top: 30px;
  left: 165px;
}

.header .contact{
  position: absolute;
  top: 19px;
  right: 0px;
}

.menu__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item--active .menu__link{
  color: #DA0100;
}

.menu__item:last-child{
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover{
  color: #DA0100;
}

.contact{
  font-style: normal;
  text-align: right;
}

.contact__phone{
  text-decoration: none;
  font-size: 26px;
  
}

.contact__info{
  font-size: 13px;
  text-decoration: underline;
  margin-top:-7px;
}

.topic__title{
  
  font-size: 72px;
  font-weight:bold;
  margin-bottom: 24px;
  line-height: 1.4;
}

.topic__text{
  font-size: 18px;
  margin-bottom: 29px;
}

.topic__button{
  background: #F5170E;
  border-radius: 35px;
  padding: 19px 41px;
  color:#fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
}

.topic__button:hover{
  background: #DA0100;
  box-shadow: 0 0 4px 0 rgba(218, 1, 0, 0.3);
}

.offering{
  margin-bottom: 122px;
}

.offering__title{
  margin-left:3px;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
  margin-top: 0;
}

.offering__title-img{
  vertical-align: middle;
  margin-left: 4px;
}

.offering__item{
  display: inline-block;
  width: 362px;
  margin-right:22px;
  min-height: 448px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.offering__item:last-child{
  margin-right: 0;
}

.offering__content{
  padding: 22px 23px;
}

.offering__subtitle{
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.offering__header{
  position:relative;
  width:362px;
  height:143px;
  margin-bottom:11px;
}

.offering__img{
  display: block;
  width:100%;
  height: 100%;
  object-fit:cover;
  
}

.offering__features{
  margin-bottom: 23px;
}

.offering__feature{
  display: inline-block;
  vertical-align: top;
  width:130px;
  font-size: 16px;
  margin-right: 19px;
}

.offering__feature:last-child{
  margin-right: 0;
}

.offering__feature-text{
  display: inline-block;
  vertical-align: middle;
  color: #666666;
  margin-left: 8px;
}

.offering__feature-img{
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.offering__text{
  font-size: 14px;
  color: #303030;
  margin-bottom:24px;
  line-height: 1.51;
}

.offering__button{
  background: #fff;
  border-radius: 35px;
  padding: 18px 30px;
  color:#F5170E;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  border: 1px solid #F5170E;
}

.offering__button:hover{
  color:#fff;
  background: #F5170E;
}


.news__title{
  font-size: 36px;
  font-weight: bold;
  margin-bottom:49px;
}

.news__item{
  width:557px;
  height: 394px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right:21px;
  border-radius: 5px;
  overflow: hidden;
}

.news__list{
  margin-bottom: 53px;
}

.news__item:last-child{
  margin-right: 0;
}

.news__img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .95;
}

.news__desc{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0px 30px 10px;
  min-height: 142px;
  vertical-align: top;
}

.news__date{
  font-size: 14px;
  
}

.news__subtitle{
  margin-top: 12px;
  font-size: 24px;
  font-weight:bold;
}

.news__text{
  margin-top:4px;
}

.page{
  text-align: center;
  margin-bottom:145px;
}

.page__info,.page__list{
  display:inline-block;
  vertical-align: middle;
}

.page__list{
  margin-left: 0;
}

.page__info{
  margin-right: 25px;
}

.page__item{
  display: inline-block;
  vertical-align: middle;

}

.page__link{
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.page__item-active .page__link{
  color: #F5170E;
}

.page__link:hover{
  background: #fff;
  color: #F5170E;
}

.about{
  margin-bottom:53px;
}

.about__img{
  width:490px;
  height:505px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
}

.about__info{
  margin-left:-141px;
  margin-top:97px;
  display: inline-block;
  vertical-align: top;
  width:785px;
  height:455px;
  color:black;
  padding: 70px 203px 70px 81px;
  border-radius: 5px;
  background: url(./images/lake.jfif) center center / cover no-repeat
}

.about__title{
  font-size: 36px;
  font-weight: bold;
  margin-bottom:37px;
}

.about__text{
  line-height: 27px;
  text-align: left;
  vertical-align:middle;
  margin-bottom: 40px;
}

.about__button{
  background: #F5170E;
  border-radius: 35px;
  padding: 19px 41px;
  color:#fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
}

.about__button:hover{
  background: #DA0100;
  box-shadow: 0 0 4px 0 rgba(218, 1, 0, 0.3);
}

.footer{
  height: 146px;
  position:relative;
  
}

.footer .logo{
  display: block;
  position: absolute;
  left: 0px;
  bottom: 56px;
}

.footer .menu{
  position: absolute;
  bottom: 63px;
  left: 165px;
}

.footer .contact{
  position: absolute;
  bottom: 46px;
  right: 0px;
}

.contact__text{
  font-size:11px;
  color:#9A9A9A;
  text-align: right;
}

.socials{
  position: absolute;
  top:53px;
  right:265px;
}

.socials__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.socials__item:last-child{
  margin-right: 0;
}

.socials__link{
  display:block;
  width:36px;
  height:36px;
  text-decoration: none;

}