.services-content{
  background:#fff;
  color:#303030;
  padding: 92px 0;
}

.services{
  margin-top: 4px;
  margin-bottom: 64px;
}

.service{
  display: flex;
  margin-bottom: 49px;
}

.service:last-child{
  margin-bottom: 0px;
}

.service__img{
  width: 460px;
  height: 333px;
  margin-right: 5%;
  border-radius: 5px;
  overflow: hidden;
}

.service__desc{
  flex:1;
  padding-top: 12px;
}

.service__title{
  font-size:36px;
  font-weight: bold;
  margin-bottom: 26px;
  color: #000000;
}

.service__text{
  line-height: 27px;
  margin-bottom: 52px;
}

.service__button{
  background: #fff;
  border-radius: 35px;
  padding: 18px 38px;
  color:#F5170E;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  width: 43%;
  border: 1px solid #F5170E;
}

.service__button:hover{
  color:#fff;
  background: #F5170E;
}