.topic{
  width: 46%;
  
}

.topic__title{
  
  font-size: 72px;
  font-weight:bold;
  margin-bottom: 24px;
  line-height: 1.4;
}

.topic__text{
  font-size: 18px;
  margin-bottom: 29px;
}

.topic__button{
  background: #F5170E;
  border-radius: 35px;
  padding: 19px 41px;
  color:#fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
}

.topic__button:hover{
  background: #DA0100;
  box-shadow: 0 0 4px 0 rgba(218, 1, 0, 0.3);
}