.welcome-page-wrapper{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url(../images/welcome-back.jfif) center center no-repeat;
}

.welcome{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url(../images/shades.png) center 43% no-repeat;
}

.welcome__text{
  font-size: 18px;
  line-height: 24.5px;
  margin-bottom: 67px;
}

.welcome__button{
  background: #F5170E;
  border-radius: 35px;
  padding: 19px 55px;
  color:#fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.welcome__button:hover{
  background: #DA0100;
  box-shadow: 0 0 18px 7px rgba(218, 1, 0, 0.4);
  transition: 0.25s;
}

.welcome__content{
  animation: fadeInUp 2s cubic-bezier(.68,.13,.76,1.4);
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(0, 100%) rotate(0deg);
  }

  to {
    opacity: 1;
    transform: translate(0, 0) rotate(360deg);
  }
}




